@import "tailwindcss";

/* Print styles for receipt */
@media print {
  body * {
    visibility: hidden;
  }
  
  .receipt-print,
  .receipt-print * {
    visibility: visible;
  }
  
  .receipt-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  .no-print {
    display: none !important;
  }
}
